In [1]:
#! usr/bin/env/python3
#-*- coding: utf-8 -*-

In [2]:
# from sklearn import svm
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder
import pandas as pd
import seaborn as sns
import sklearn as sk
import numpy as np
import matplotlib.pyplot as plt

sns.set()

# plt.rc('font',family='AppleGothic')

In [3]:
# Dataframe 전체 출력 함수
def print_full(x):
    pd.set_option('display.max_rows', len(x))
    print(x)
    pd.reset_option('display.max_rows')

In [4]:
data = pd.DataFrame.from_csv("name_and_train_simple_preprocess.csv")
data.head()

,Name,Cat,Dog,Intact Female,Intact Male,Neutered Male,Spayed Female,OutcomeType_label
0,1,0,1,0,0,1,0,3
1,1,1,0,0,0,0,1,2
2,1,0,1,0,0,1,0,0
3,0,1,0,0,1,0,0,4
4,0,0,1,0,0,1,0,4

In [5]:
X = data[['Name', 'Cat', 'Dog', 'Intact Female',
         'Intact Male', 'Neutered Male','Spayed Female']]

print(X.head())

   Name  Cat  Dog  Intact Female  Intact Male  Neutered Male  Spayed Female
0     1    0    1              0            0              1              0
1     1    1    0              0            0              0              1
2     1    0    1              0            0              1              0
3     0    1    0              0            1              0              0
4     0    0    1              0            0              1              0

In [6]:
y = data['OutcomeType_label']
y.head()

0    3
1    2
2    0
3    4
4    4
Name: OutcomeType_label, dtype: int64

In the multiclass case, the training algorithm uses the one-vs-rest (OvR) scheme if the ‘multi_class’ option is set to ‘ovr’ and uses the cross-entropy loss, if the ‘multi_class’ option is set to ‘multinomial’

model_logistic = LogisticRegression(
    C=1000, solver='lbfgs',multi_class='multinomial').fit(X, y)
y_pred = model_logistic.predict(X)

# show full array
np.set_printoptions(threshold=np.nan)
print(y_pred)

In [7]:
clf = RandomForestClassifier(
    n_estimators=100, criterion='entropy', max_depth=None,
    min_weight_fraction_leaf=0.0, max_features='auto', max_leaf_nodes=None,
    bootstrap=True, oob_score=False,
    n_jobs=1, random_state=None, verbose=0, warm_start=False, class_weight="balanced")

model_rand_forest = RandomForestClassifier.fit(clf, X, y)
train_predict = model_rand_forest.predict(X)
train_predict_proba = model_rand_forest.predict_proba(X)

train_score = model_rand_forest.score(X, y)
print("score : ", train_score)

score :  0.389838751917

In [8]:
# np.set_printoptions(threshold=np.nan)
print(train_predict)
print(train_predict_proba)

[3 0 3 ..., 3 1 1]
[[ 0.26467534  0.04503874  0.14586705  0.42982312  0.11459575]
 [ 0.51321826  0.09180453  0.08173031  0.12822359  0.1850233 ]
 [ 0.26467534  0.04503874  0.14586705  0.42982312  0.11459575]
 ...,
 [ 0.26467534  0.04503874  0.14586705  0.42982312  0.11459575]
 [ 0.00060541  0.4212221   0.28855139  0.00137951  0.2882416 ]
 [ 0.00060541  0.4212221   0.28855139  0.00137951  0.2882416 ]]

In [9]:
raw_test_data = pd.DataFrame.from_csv("test.csv", index_col=False)
test_data = pd.DataFrame.from_csv("test_simple_preprocess.csv")
raw_test_data.head()

,ID,Name,DateTime,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color
0,1,Summer,2015-10-12 12:15:00,Dog,Intact Female,10 months,Labrador Retriever Mix,Red/White
1,2,Cheyenne,2014-07-26 17:59:00,Dog,Spayed Female,2 years,German Shepherd/Siberian Husky,Black/Tan
2,3,Gus,2016-01-13 12:20:00,Cat,Neutered Male,1 year,Domestic Shorthair Mix,Brown Tabby
3,4,Pongo,2013-12-28 18:12:00,Dog,Intact Male,4 months,Collie Smooth Mix,Tricolor
4,5,Skooter,2015-09-24 17:59:00,Dog,Neutered Male,2 years,Miniature Poodle Mix,White

In [10]:
train_predict = model_rand_forest.predict(test_data)
train_predict_proba = model_rand_forest.predict_proba(test_data)

result_df = pd.concat(
    [
        raw_test_data['ID'],
        pd.DataFrame(
            train_predict_proba,
            columns=['Adoption','Died','Euthanasia','Return_to_owner','Transfer']
        )
    ], axis=1
)
print(result_df)

          ID  Adoption      Died  Euthanasia  Return_to_owner  Transfer
0          1  0.000474  0.346535    0.391020         0.032795  0.229177
1          2  0.580862  0.054388    0.072507         0.057529  0.234714
2          3  0.284870  0.171411    0.364566         0.019178  0.159975
3          4  0.001594  0.308991    0.419353         0.033217  0.236845
4          5  0.504721  0.052788    0.126518         0.065584  0.250389
5          6  0.504721  0.052788    0.126518         0.065584  0.250389
6          7  0.284870  0.171411    0.364566         0.019178  0.159975
7          8  0.300479  0.269638    0.230656         0.047774  0.151453
8          9  0.580862  0.054388    0.072507         0.057529  0.234714
9         10  0.580862  0.054388    0.072507         0.057529  0.234714
10        11  0.580862  0.054388    0.072507         0.057529  0.234714
11        12  0.000474  0.346535    0.391020         0.032795  0.229177
12        13  0.580862  0.054388    0.072507         0.057529  0.234714
13        14  0.264675  0.045039    0.145867         0.429823  0.114596
14        15  0.504721  0.052788    0.126518         0.065584  0.250389
15        16  0.580862  0.054388    0.072507         0.057529  0.234714
16        17  0.504721  0.052788    0.126518         0.065584  0.250389
17        18  0.504721  0.052788    0.126518         0.065584  0.250389
18        19  0.300479  0.269638    0.230656         0.047774  0.151453
19        20  0.077420  0.487990    0.144989         0.018960  0.270641
20        21  0.300479  0.269638    0.230656         0.047774  0.151453
21        22  0.000000  0.373670    0.261042         0.052116  0.313171
22        23  0.504721  0.052788    0.126518         0.065584  0.250389
23        24  0.077420  0.487990    0.144989         0.018960  0.270641
24        25  0.580862  0.054388    0.072507         0.057529  0.234714
25        26  0.485977  0.084164    0.091347         0.161203  0.177308
26        27  0.300479  0.269638    0.230656         0.047774  0.151453
27        28  0.021504  0.086755    0.340546         0.370612  0.180582
28        29  0.504721  0.052788    0.126518         0.065584  0.250389
29        30  0.504721  0.052788    0.126518         0.065584  0.250389
...      ...       ...       ...         ...              ...       ...
11426  11427  0.504721  0.052788    0.126518         0.065584  0.250389
11427  11428  0.000474  0.346535    0.391020         0.032795  0.229177
11428  11429  0.504721  0.052788    0.126518         0.065584  0.250389
11429  11430  0.580862  0.054388    0.072507         0.057529  0.234714
11430  11431  0.513218  0.091805    0.081730         0.128224  0.185023
11431  11432  0.046419  0.673961    0.099625         0.007480  0.172515
11432  11433  0.580862  0.054388    0.072507         0.057529  0.234714
11433  11434  0.001562  0.334860    0.290679         0.002325  0.370573
11434  11435  0.580862  0.054388    0.072507         0.057529  0.234714
11435  11436  0.046419  0.673961    0.099625         0.007480  0.172515
11436  11437  0.485977  0.084164    0.091347         0.161203  0.177308
11437  11438  0.000474  0.346535    0.391020         0.032795  0.229177
11438  11439  0.264675  0.045039    0.145867         0.429823  0.114596
11439  11440  0.580862  0.054388    0.072507         0.057529  0.234714
11440  11441  0.000000  0.373670    0.261042         0.052116  0.313171
11441  11442  0.504721  0.052788    0.126518         0.065584  0.250389
11442  11443  0.504721  0.052788    0.126518         0.065584  0.250389
11443  11444  0.300479  0.269638    0.230656         0.047774  0.151453
11444  11445  0.077420  0.487990    0.144989         0.018960  0.270641
11445  11446  0.046419  0.673961    0.099625         0.007480  0.172515
11446  11447  0.485977  0.084164    0.091347         0.161203  0.177308
11447  11448  0.580862  0.054388    0.072507         0.057529  0.234714
11448  11449  0.319425  0.035783    0.124110         0.414201  0.106481
11449  11450  0.580862  0.054388    0.072507         0.057529  0.234714
11450  11451  0.504721  0.052788    0.126518         0.065584  0.250389
11451  11452  0.485977  0.084164    0.091347         0.161203  0.177308
11452  11453  0.077420  0.487990    0.144989         0.018960  0.270641
11453  11454  0.077420  0.487990    0.144989         0.018960  0.270641
11454  11455  0.504721  0.052788    0.126518         0.065584  0.250389
11455  11456  0.001594  0.308991    0.419353         0.033217  0.236845

[11456 rows x 6 columns]

In [11]:
result_df.to_csv("randomforest_2feature.csv", index=False)